video#bgvid {
  margin-top: 0;
  margin-left: 0;
  padding: 0 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.fill-window {
  margin-top: 0;
  margin-left: 0;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  z-index: 100;
  color: white;
  top: 0;
  left: 0;
}
